Repository kra-mo/cartridges: changes, and which pre-commit hooks are due for each by the changed paths.
All: blueprint-format, meson-format, prettier, svgo

blueprint-format:
  name: blueprint
  language: system
  entry: blueprint-compiler format --fix --no-diff

meson-format:
  name: meson
  language: python
  entry: meson format --inplace

prettier:
  name: prettier
  language: node
  additional_dependencies:
  - prettier
  entry: prettier --write

svgo:
  name: svgo
  language: node
  additional_dependencies:
  - svgo
  entry: svgo

lutris: Rewrite source
  cartridges/sources/lutris.py
  data/icons/icons.gresource.xml.in
  data/icons/lutris-symbolic.svg
Due: svgo

cover: Remove clamp hack
  cartridges/ui/cover.blp
  cartridges/ui/cover.py
  cartridges/ui/game-item.blp
Due: blueprint-format

waydroid: Add waydroid symbolic icon
  data/icons/icons.gresource.xml.in
  data/icons/waydroid-symbolic.svg
Due: svgo

waydroid: Add waydroid source
  cartridges/sources/waydroid.py
Due: none

window: Increase max columns for the grid
  cartridges/ui/window.blp
Due: blueprint-format

window: Indicate selected page even when the sidebar is collapsed
  cartridges/ui/window.blp
Due: blueprint-format

template: Add custom GTK template
  cartridges/ui/closures.py
  cartridges/ui/collection_details.py
  cartridges/ui/cover.py
  cartridges/ui/game_details.py
  cartridges/ui/game_item.py
  cartridges/ui/meson.build
  cartridges/ui/template.py
  cartridges/ui/window.py
  po/POTFILES.in
Due: meson-format

cover: Remove unnecessary cast
  cartridges/ui/cover.blp
Due: blueprint-format

ui: Consistently name the this argument
  cartridges/ui/cover.py
  cartridges/ui/game-details.blp
  cartridges/ui/game_details.py
  cartridges/ui/window.py
Due: blueprint-format

template: Swapped callbacks
  cartridges/ui/game_details.py
  cartridges/ui/game_item.py
  cartridges/ui/template.py
  cartridges/ui/window.blp
  cartridges/ui/window.py
Due: blueprint-format

closures: Make private stuff more convenient
  cartridges/ui/closures.py
Due: none

ui: Mark closures as static methods
  cartridges/ui/cover.py
  cartridges/ui/game_details.py
  cartridges/ui/window.py
Due: none

template: Support variadic callbacks
  cartridges/ui/template.py
Due: none

closures: Remove custom functions
  cartridges/ui/closures.py
  cartridges/ui/collections.py
  cartridges/ui/cover.blp
  cartridges/ui/game-details.blp
  cartridges/ui/games.py
  cartridges/ui/window.blp
Due: blueprint-format

ui: Move GObject properties above template childen
  cartridges/ui/collection_details.py
  cartridges/ui/game_details.py
  cartridges/ui/game_item.py
  cartridges/ui/window.py
Due: none

collection-details: Use action instead of group
  cartridges/ui/collection-details.blp
  cartridges/ui/collection_details.py
Due: blueprint-format

collections: Reintroduce explicit saving
  cartridges/application.py
  cartridges/collections.py
  cartridges/ui/collections.py
Due: none

ui: Mark closures as static methods
  cartridges/ui/closures.py
  cartridges/ui/cover.py
  cartridges/ui/game-details.blp
  cartridges/ui/game_details.py
  cartridges/ui/window.py
Due: blueprint-format

closures: Improve consistency and add decorator
  cartridges/ui/closures.py
  cartridges/ui/collection-details.blp
  cartridges/ui/collection_details.py
  cartridges/ui/collections.py
  cartridges/ui/cover.blp
  cartridges/ui/cover.py
  cartridges/ui/game-details.blp
  cartridges/ui/game_details.py
  cartridges/ui/games.py
  cartridges/ui/window.blp
  cartridges/ui/window.py
Due: blueprint-format

gamepads: Add GamepadNavigable base class.
  cartridges/gamepads.py
Due: none

game_details: Inherit GamepadNavigable class
  cartridges/ui/game_details.py
Due: none

window: Inherit from GamepadNavigable mixin class.
  cartridges/ui/window.py
Due: none

gamepads: Drop unused logic
  cartridges/gamepads.py
Due: none

window: Remove unnecessary template child
  cartridges/ui/window.py
Due: none

cartridges: Make use of model generics
  cartridges/collections.py
  cartridges/gamepads.py
  cartridges/sources/__init__.py
  cartridges/ui/collections.py
  cartridges/ui/window.py
Due: none

desktop: Fix various bugs
  cartridges/sources/desktop.py
Due: none

pyproject: Add pillow
  pyproject.toml
Due: none

cartridges: Use Python resources management
  cartridges/__init__.py
  cartridges/config.py.in
  cartridges/config.pyi
  cartridges/ui/meson.build
  data/icons/meson.build
  data/meson.build
  meson.build
Due: meson-format

cover: Use layout manager
  cartridges/ui/cover.blp
  cartridges/ui/cover.py
Due: blueprint-format

Translated using Weblate (Japanese)
  po/ja.po
Due: none

Translated using Weblate (English (United Kingdom))
  po/en_GB.po
Due: none

pyproject: Add blueprint-compiler as a dependency
  pyproject.toml
Due: none

fix: cast games_count to string in Gtk.Label to fix crash on startup
  cartridges/window.py
Due: none

window: Inline "New Collection" button
  cartridges/ui/window.blp
  cartridges/ui/window.py
Due: blueprint-format

Translated using Weblate (Georgian)
  po/ka.po
Due: none

Translated using Weblate (Tamil)
  po/ta.po
Due: none

Fix crash caused by missing conversion of game count to string
  cartridges/window.py
Due: none

Translated using Weblate (Chinese (Simplified Han script))
  po/zh_Hans.po
Due: none

Path conditions:
  blueprint-format: any of: \.blp$
  meson-format: any of: meson\.build|meson\.options
  prettier: any of: \.css$, \.json$, \.(yaml|yml)$
  svgo: any of: \.svg$
