Repository kra-mo/cartridges: changes, and which pre-commit hooks are due for each by the changed paths.
All: blueprint-format, meson-format, prettier, svgo

blueprint-format:
  name: blueprint
  language: system
  entry: blueprint-compiler format --fix --no-diff

meson-format:
  name: meson
  language: python
  entry: meson format --inplace

prettier:
  name: prettier
  language: node
  additional_dependencies:
  - prettier
  entry: prettier --write

svgo:
  name: svgo
  language: node
  additional_dependencies:
  - svgo
  entry: svgo

games: Add collection object and model
  cartridges/collections.py
  cartridges/meson.build
  data/icons/collection-symbolic.svg
  po/POTFILES.in
Due: meson-format, svgo

gsettings: Add collection storing and loading
  cartridges/__init__.py
  cartridges/application.py
  cartridges/collections.py
  data/page.kramo.Cartridges.gschema.xml.in
Due: none

games: Split out UI into its own module
  cartridges/games.py
  cartridges/ui/games.py
  cartridges/ui/meson.build
  cartridges/ui/window.py
  po/POTFILES.in
Due: meson-format

collections: Add initial UI
  cartridges/ui/collections.py
  cartridges/ui/meson.build
  cartridges/ui/shortcuts-dialog.blp
  cartridges/ui/window.blp
  cartridges/ui/window.py
  data/icons/icons.gresource.xml.in
  data/page.kramo.Cartridges.gschema.xml.in
  po/POTFILES.in
  pyproject.toml
Due: blueprint-format, meson-format

cartridges: Make GSettings constant
  cartridges/__init__.py
  cartridges/collections.py
  cartridges/ui/games.py
  cartridges/ui/window.py
Due: none

Added translation using Weblate (Basque)
  po/eu.po
Due: none

Update translation files
  po/LINGUAS
Due: none

Translated using Weblate (Basque)
  po/eu.po
Due: none

Added translation using Weblate (Cornish)
  po/kw.po
Due: none

sources: Handle all OSErrors when reading files
  cartridges/application.py
  cartridges/sources/heroic.py
Due: none

heroic: Implement Heroic source
  cartridges/application.py
  cartridges/sources/__init__.py
  cartridges/sources/heroic.py
  flatpak/page.kramo.Cartridges.Devel.json
  po/POTFILES.in
Due: prettier

sources: Remove `skip_ids`
  cartridges/application.py
  cartridges/games.py
  cartridges/sources/__init__.py
  cartridges/sources/heroic.py
  cartridges/sources/imported.py
  cartridges/sources/steam.py
  po/POTFILES.in
Due: none

sources: Set date added higher up
  cartridges/sources/__init__.py
  cartridges/sources/heroic.py
  cartridges/sources/steam.py
Due: none

Translated using Weblate (Cornish)
  po/kw.po
Due: none

collections: Save to GSettings
  cartridges/collections.py
Due: none

window: Add game to collection automatically
  cartridges/ui/game-details.blp
  cartridges/ui/game-item.blp
  cartridges/ui/game_details.py
  cartridges/ui/game_item.py
  cartridges/ui/window.py
Due: blueprint-format

collections: Filter out removed manually added games
  cartridges/collections.py
Due: none

collection-details: Support adding collections
  cartridges/collections.py
  cartridges/ui/collection-details.blp
  cartridges/ui/collection_details.py
  cartridges/ui/collections.py
  cartridges/ui/meson.build
  cartridges/ui/style.css
  cartridges/ui/ui.gresource.xml.in
  cartridges/ui/window.blp
  cartridges/ui/window.py
  data/icons/apply-symbolic.svg
  data/icons/ball-symbolic.svg
  data/icons/cancel-symbolic.svg
  data/icons/car-symbolic.svg
  data/icons/city-symbolic.svg
  data/icons/fist-symbolic.svg
  data/icons/flashlight-symbolic.svg
  data/icons/gamepad-symbolic.svg
  data/icons/globe-symbolic.svg
  data/icons/gun-symbolic.svg
  data/icons/heart-symbolic.svg
  data/icons/horse-symbolic.svg
  data/icons/icons.gresource.xml.in
  data/icons/knife-symbolic.svg
  data/icons/map-symbolic.svg
  data/icons/music-symbolic.svg
  data/icons/people-symbolic.svg
  data/icons/private-symbolic.svg
  data/icons/puzzle-symbolic.svg
  data/icons/skull-symbolic.svg
  data/icons/sprout-symbolic.svg
  data/icons/star-symbolic.svg
  data/icons/step-over-symbolic.svg
  po/POTFILES.in
Due: blueprint-format, meson-format, prettier, svgo

collection-details: Support editing and removing
  cartridges/collections.py
  cartridges/ui/collection-details.blp
  cartridges/ui/collection_details.py
  cartridges/ui/window.blp
  cartridges/ui/window.py
Due: blueprint-format

window: Add shortcut for adding collections
  cartridges/ui/shortcuts-dialog.blp
  cartridges/ui/window.blp
Due: blueprint-format

collections: Support adding games
  cartridges/ui/collections.py
  cartridges/ui/game-details.blp
  cartridges/ui/game-item.blp
  cartridges/ui/game_details.py
  cartridges/ui/game_item.py
  cartridges/ui/style.css
  cartridges/ui/window.blp
  cartridges/ui/window.py
Due: blueprint-format, prettier

collections: Properly handle markup
  cartridges/ui/collections.py
  cartridges/ui/window.py
Due: none

window: Change showing order of empty pages
  cartridges/ui/window.blp
Due: blueprint-format

window: Hide sidebar when items are activated
  cartridges/ui/window.py
Due: none

collections: Use a set for game ids
  cartridges/collections.py
  cartridges/ui/collections.py
  cartridges/ui/window.py
Due: none

collection-details: Move from GtkFlowBox to GtkGrid
  cartridges/ui/collection-details.blp
  cartridges/ui/collection_details.py
  cartridges/ui/style.css
Due: blueprint-format, prettier

window: Disable stack transitions
  cartridges/ui/window.blp
Due: blueprint-format

collection-details: Add a11y labels for icons
  cartridges/ui/collection_details.py
Due: none

sources: Add initial UI
  cartridges/application.py
  cartridges/ui/meson.build
  cartridges/ui/sources.py
  cartridges/ui/window.blp
  cartridges/ui/window.py
  data/icons/heroic-symbolic.svg
  data/icons/icons.gresource.xml.in
  data/icons/steam-symbolic.svg
  data/page.kramo.Cartridges.gschema.xml.in
Due: blueprint-format, meson-format, svgo

sources: Dynamically import sources
  cartridges/sources/__init__.py
Due: none

sources: Split games into per-source models
  cartridges/application.py
  cartridges/collections.py
  cartridges/games.py
  cartridges/sources/__init__.py
  cartridges/sources/imported.py
  cartridges/ui/game_details.py
  cartridges/ui/games.py
  cartridges/ui/window.blp
  cartridges/ui/window.py
Due: blueprint-format

game: Fix Game.save()
  cartridges/games.py
Due: none

gamepad: Implement directional nav of sidebar
  cartridges/gamepads.py
Due: none

gamepad: Implement return button action for sidebar
  cartridges/gamepads.py
  cartridges/ui/window.blp
  cartridges/ui/window.py
Due: blueprint-format

Translated using Weblate (Czech)
  po/cs.po
Due: none

gamepad: Select collection on activate btn pressed
  cartridges/gamepads.py
  cartridges/ui/window.py
Due: none

gamepad: Cleanup MR
  cartridges/gamepads.py
Due: none

sources: Fix icon name
  cartridges/sources/__init__.py
Due: none

window: Move game filters to ui.games
  cartridges/ui/games.py
  cartridges/ui/window.blp
Due: blueprint-format

Path conditions:
  blueprint-format: any of: \.blp$
  meson-format: any of: meson\.build|meson\.options
  prettier: any of: \.css$, \.json$, \.(yaml|yml)$
  svgo: any of: \.svg$
