Repository kra-mo/cartridges: changes, and which pre-commit hooks are due for each by the changed paths.
All: blueprint-format, meson-format, prettier, svgo

blueprint-format:
  name: blueprint
  language: system
  entry: blueprint-compiler format --fix --no-diff

meson-format:
  name: meson
  language: python
  entry: meson format --inplace

prettier:
  name: prettier
  language: node
  additional_dependencies:
  - prettier
  entry: prettier --write

svgo:
  name: svgo
  language: node
  additional_dependencies:
  - svgo
  entry: svgo

sources: Add initial UI
  cartridges/sources/__init__.py
  cartridges/ui/meson.build
  cartridges/ui/sources.py
  cartridges/ui/window.blp
  cartridges/ui/window.py
  data/icons/heroic-symbolic.svg
  data/icons/icons.gresource.xml.in
  data/icons/imported-symbolic.svg
  data/icons/steam-symbolic.svg
  po/POTFILES.in
Due: blueprint-format, meson-format, svgo

gamepad: Select collection on activate btn pressed
  cartridges/gamepads.py
  cartridges/ui/window.py
Due: none

gamepad: Implement return button action for sidebar
  cartridges/gamepads.py
  cartridges/ui/window.blp
  cartridges/ui/window.py
Due: blueprint-format

gamepad: Implement directional nav of sidebar
  cartridges/gamepads.py
Due: none

gamepad: Cleanup MR
  cartridges/gamepads.py
Due: none

gamepad: Go to sidebar when going left of headerbar
  cartridges/gamepads.py
Due: none

application: Only use GTK after startup
  cartridges/application.py
Due: none

cartridges: Use generic methods in favor of TypeVar
  cartridges/ui/collection_details.py
  cartridges/ui/game_details.py
  cartridges/ui/window.py
Due: none

cover: Add width and height properties
  cartridges/ui/cover.blp
  cartridges/ui/cover.py
  cartridges/ui/game-item.blp
Due: blueprint-format

sources: Fix icon name
  cartridges/sources/__init__.py
Due: none

window: Move game filters to ui.games
  cartridges/ui/games.py
  cartridges/ui/window.blp
Due: blueprint-format

Translated using Weblate (Cornish)
  po/kw.po
Due: none

ui: Use GObject.SignalGroup
  cartridges/ui/collection-details.blp
  cartridges/ui/collection_details.py
  cartridges/ui/game-details.blp
  cartridges/ui/game_details.py
  cartridges/ui/sources.py
  cartridges/ui/window.blp
  cartridges/ui/window.py
Due: blueprint-format

ui: Use GObject.BindingGroup
  cartridges/ui/collections.py
  cartridges/ui/sources.py
  cartridges/ui/window.py
Due: none

closures: Add a module for commonly used closures
  cartridges/ui/closures.py
  cartridges/ui/collection-details.blp
  cartridges/ui/collection_details.py
  cartridges/ui/cover.blp
  cartridges/ui/cover.py
  cartridges/ui/game-details.blp
  cartridges/ui/game_details.py
  cartridges/ui/meson.build
  cartridges/ui/window.blp
  cartridges/ui/window.py
  po/POTFILES.in
Due: blueprint-format, meson-format

window: Remove unused constant (oops)
  cartridges/ui/window.py
Due: none

Translated using Weblate (French)
  po/fr.po
Due: none

ui: Organize class attributes
  cartridges/ui/collection_details.py
  cartridges/ui/game_details.py
  cartridges/ui/window.py
Due: none

collections: Add CollectionActions
  cartridges/collections.py
  cartridges/ui/collection-details.blp
  cartridges/ui/collection_details.py
  cartridges/ui/collections.py
  cartridges/ui/game-details.blp
  cartridges/ui/game-item.blp
  cartridges/ui/game_details.py
  cartridges/ui/game_item.py
  cartridges/ui/window.blp
  cartridges/ui/window.py
Due: blueprint-format

games: Add GameActions
  cartridges/games.py
  cartridges/ui/game-details.blp
  cartridges/ui/game-item.blp
  cartridges/ui/game_details.py
  cartridges/ui/game_item.py
  cartridges/ui/games.py
  cartridges/ui/window.blp
  cartridges/ui/window.py
Due: blueprint-format

game-details: Clean up editing logic
  cartridges/ui/closures.py
  cartridges/ui/game-details.blp
  cartridges/ui/game_details.py
Due: blueprint-format

collection-details: Clean up editing logic
  cartridges/ui/collection-details.blp
  cartridges/ui/collection_details.py
Due: blueprint-format

cartridges: Set value of `after` arguments to `False`
  cartridges/collections.py
  cartridges/ui/collection_details.py
  cartridges/ui/collections.py
  cartridges/ui/game_details.py
  cartridges/ui/sources.py
  cartridges/ui/window.py
Due: none

cartridges: Use correct shortcuts on macOS
  cartridges/application.py
  cartridges/ui/__init__.py
  cartridges/ui/closures.py
  cartridges/ui/window.blp
  cartridges/ui/window.py
Due: blueprint-format

shortcuts-dialog: Add separate macOS version
  cartridges/ui/meson.build
  cartridges/ui/shortcuts-dialog-mac.blp
  po/POTFILES.in
Due: blueprint-format, meson-format

collections: Implement Iterable for Collection
  cartridges/collections.py
  cartridges/ui/collection_details.py
  cartridges/ui/collections.py
  cartridges/ui/window.blp
  cartridges/ui/window.py
Due: blueprint-format

games: Move GameSorter out of window
  cartridges/ui/game_details.py
  cartridges/ui/games.py
  cartridges/ui/window.blp
  cartridges/ui/window.py
Due: blueprint-format

game_item: Readd position property
  cartridges/ui/game_item.py
  cartridges/ui/window.blp
Due: blueprint-format

gamepad: Close detail on back button pressed
  cartridges/gamepads.py
Due: none

gamepad: Activate focused item on sidebar
  cartridges/gamepads.py
Due: none

itch: Add itch source
  cartridges/sources/itch.py
  cartridges/ui/game_details.py
  data/icons/icons.gresource.xml.in
  data/icons/itch-symbolic.svg
Due: svgo

Path conditions:
  blueprint-format: any of: \.blp$
  meson-format: any of: meson\.build|meson\.options
  prettier: any of: \.css$, \.json$, \.(yaml|yml)$
  svgo: any of: \.svg$
