Repository kra-mo/cartridges: changes, and which pre-commit hooks are due for each by the changed paths.
All: blueprint-format, meson-format, prettier, svgo

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude_types: [svg]
      - id: file-contents-sorter
        files: po/LINGUAS|po/POTFILES\.in

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff-check
        args: [--select, I, --fix] # Only fix unsorted imports automatically
      - id: ruff-check
      - id: ruff-format

  - repo: local
    hooks:
      - id: pyright
        name: pyright
        language: node
        additional_dependencies: [pyright]
        types_or: [python, pyi]
        entry: pyright

      - id: blueprint-format # https://gitlab.gnome.org/GNOME/blueprint-compiler/-/merge_requests/258
        name: blueprint
        language: system
        files: \.blp$
        entry: blueprint-compiler format --fix --no-diff

      - id: meson-format
        name: meson
        language: python
        files: meson\.build|meson\.options
        entry: meson format --inplace

      - id: prettier
        name: prettier
        language: node
        additional_dependencies: [prettier]
        types_or: [css, json, yaml]
        entry: prettier --write

      - id: svgo
        name: svgo
        language: node
        additional_dependencies: [svgo]
        types: [svg]
        entry: svgo

game-details: Split out editing logic into object
  cartridges/ui/game-details.blp
  cartridges/ui/game_details.py
  cartridges/ui/games.py
Due: blueprint-format

collections: Remove Collection:in-model
  cartridges/collections.py
  cartridges/ui/closures.py
  cartridges/ui/collection-details.blp
  cartridges/ui/collection_details.py
  cartridges/ui/collections.py
Due: blueprint-format

collection-details: Split out editing logic into object
  cartridges/ui/collection-details.blp
  cartridges/ui/collection_details.py
  cartridges/ui/collections.py
Due: blueprint-format

collection-details: Move icons to object module
  cartridges/collections.py
  cartridges/ui/collection_details.py
Due: none

cover: Use format_string instead of concat
  cartridges/ui/closures.py
  cartridges/ui/cover.blp
  cartridges/ui/cover.py
Due: blueprint-format

Translated using Weblate (Cornish)
  po/kw.po
Due: none

Update translation files
  po/LINGUAS
Due: none

Added translation using Weblate (Georgian)
  po/ka.po
Due: none

Translated using Weblate (Georgian)
  po/ka.po
Due: none

data/meson.build: Correct dependencies for cartridges.gresource.xml.in.
  data/meson.build
Due: meson-format

gamepad: Fix regression in Gamepad.__init__()
  cartridges/gamepads.py
Due: none

collection-details: Simplify model membership check
  cartridges/ui/closures.py
  cartridges/ui/collection-details.blp
  cartridges/ui/collection_details.py
Due: blueprint-format

application: Use property for dialog init
  cartridges/application.py
Due: none

window: Use the new key-capture-widget property
  cartridges/ui/window.blp
  cartridges/ui/window.py
Due: blueprint-format

Added translation using Weblate (Vietnamese)
  po/vi.po
Due: none

sources: Remove n-items workaround
  cartridges/ui/sources.py
Due: none

collections: Override method correctly
  cartridges/ui/collections.py
Due: none

pyproject: Use stubs fork
  cartridges/__main__.py
  cartridges/application.py
  cartridges/sources/__init__.py
  cartridges/sources/itch.py
  cartridges/ui/collections.py
  cartridges/ui/games.py
  cartridges/ui/sources.py
  cartridges/ui/window.py
  pyproject.toml
Due: none

Translated using Weblate (Vietnamese)
  po/vi.po
Due: none

window: Fix some Ruff warnings
  cartridges/ui/window.py
Due: none

ui: Remove unnecessary expression casts
  cartridges/ui/collection-details.blp
  cartridges/ui/cover.blp
  cartridges/ui/game-details.blp
  cartridges/ui/window.blp
Due: blueprint-format

games: Use GtkTryExpression
  cartridges/sources/imported.py
  cartridges/ui/game-details.blp
  cartridges/ui/game_details.py
  cartridges/ui/games.py
Due: blueprint-format

collections: Use GtkTryExpression
  cartridges/ui/closures.py
  cartridges/ui/collection-details.blp
  cartridges/ui/collection_details.py
  cartridges/ui/collections.py
Due: blueprint-format

legendary: Add source
  cartridges/sources/legendary.py
  data/icons/icons.gresource.xml.in
  data/icons/legendary-symbolic.svg
Due: svgo

game-details: Add editing property
  cartridges/gamepads.py
  cartridges/ui/game-details.blp
  cartridges/ui/game_details.py
Due: blueprint-format

pathlib: Don't use with_suffix where not appropriate
  cartridges/games.py
  cartridges/sources/imported.py
Due: none

template: Add custom GTK template
  cartridges/ui/closures.py
  cartridges/ui/collection_details.py
  cartridges/ui/cover.py
  cartridges/ui/game_details.py
  cartridges/ui/game_item.py
  cartridges/ui/meson.build
  cartridges/ui/template.py
  cartridges/ui/window.py
  po/POTFILES.in
Due: meson-format

closures: Remove custom functions
  cartridges/ui/closures.py
  cartridges/ui/collections.py
  cartridges/ui/cover.blp
  cartridges/ui/game-details.blp
  cartridges/ui/games.py
  cartridges/ui/window.blp
Due: blueprint-format

ui: Move GObject properties above template childen
  cartridges/ui/collection_details.py
  cartridges/ui/game_details.py
  cartridges/ui/game_item.py
  cartridges/ui/window.py
Due: none

ui: Consistently name the this argument
  cartridges/ui/game-details.blp
  cartridges/ui/game_details.py
  cartridges/ui/window.py
Due: blueprint-format

cover: Safely load (animated) covers using PIL
  cartridges/cover.py
  cartridges/meson.build
  cartridges/sources/heroic.py
  cartridges/sources/imported.py
  cartridges/sources/itch.py
  cartridges/sources/legendary.py
  cartridges/sources/steam.py
  cartridges/ui/cover.blp
  cartridges/ui/cover.py
  po/POTFILES.in
Due: blueprint-format, meson-format

flatpak: Include PIL as a dependency
  flatpak/page.kramo.Cartridges.Devel.json
  flatpak/python3-pillow.json
  flatpak/python3-pybind11.json
Due: prettier

cover: Move functions/constants to the appropriate module
  cartridges/cover.py
  cartridges/games.py
  cartridges/sources/__init__.py
  cartridges/sources/desktop.py
  cartridges/sources/imported.py
  cartridges/ui/cover.py
Due: none

cover: Remove clamp hack
  cartridges/ui/cover.blp
  cartridges/ui/cover.py
Due: blueprint-format
