Repository kra-mo/cartridges: changes, and which pre-commit hooks are due for each by the changed paths.
All: blueprint-format, meson-format, prettier, svgo

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude_types: [svg]
      - id: file-contents-sorter
        files: po/LINGUAS|po/POTFILES\.in

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff-check
        args: [--select, I, --fix] # Only fix unsorted imports automatically
      - id: ruff-check
      - id: ruff-format

  - repo: local
    hooks:
      - id: pyright
        name: pyright
        language: node
        additional_dependencies: [pyright]
        types_or: [python, pyi]
        entry: pyright

      - id: blueprint-format # https://gitlab.gnome.org/GNOME/blueprint-compiler/-/merge_requests/258
        name: blueprint
        language: system
        files: \.blp$
        entry: blueprint-compiler format --fix --no-diff

      - id: meson-format
        name: meson
        language: python
        files: meson\.build|meson\.options
        entry: meson format --inplace

      - id: prettier
        name: prettier
        language: node
        additional_dependencies: [prettier]
        types_or: [css, json, yaml]
        entry: prettier --write

      - id: svgo
        name: svgo
        language: node
        additional_dependencies: [svgo]
        types: [svg]
        entry: svgo

collections: Don't run an unnecessary save
  cartridges/ui/collections.py
Due: none

application: Remove __init__
  cartridges/__main__.py
  cartridges/application.py
Due: none

cartridges: Remove unnecessary load functions
  cartridges/application.py
  cartridges/collections.py
  cartridges/sources/__init__.py
Due: none

Translated using Weblate (Italian)
  po/it.po
Due: none

games: Add cover size constants
  cartridges/games.py
  cartridges/ui/cover.py
Due: none

games: Accept any Gdk.Paintable for cover
  cartridges/games.py
Due: none

cover: Use standard icon size
  cartridges/ui/cover.blp
Due: blueprint-format

Translated using Weblate (Cornish)
  po/kw.po
Due: none

flatpak: Add Flatpak source
  cartridges/sources/flatpak.py
  data/icons/flatpak-symbolic.svg
  data/icons/icons.gresource.xml.in
  flatpak/page.kramo.Cartridges.Devel.json
Due: prettier, svgo

Add itch source
  cartridges/sources/itch.py
  cartridges/ui/game_details.py
  data/icons/icons.gresource.xml.in
  data/icons/itch-symbolic.svg
Due: svgo

flatpak: Add itch.io flatpak fs override
  flatpak/page.kramo.Cartridges.Devel.json
Due: prettier

itch: Don't depend on Application
  cartridges/__main__.py
  cartridges/sources/itch.py
Due: none

flatpak: Add network permission
  flatpak/page.kramo.Cartridges.Devel.json
Due: prettier

itch: Remove unnecessary variable
  cartridges/sources/itch.py
Due: none

sources: Reintroduce load()
  cartridges/__main__.py
  cartridges/application.py
  cartridges/sources/__init__.py
  cartridges/sources/itch.py
Due: none

cartridges: Use relative imports where possible
  cartridges/collections.py
  cartridges/ui/collection_details.py
  cartridges/ui/cover.py
  cartridges/ui/game_details.py
  cartridges/ui/sources.py
  cartridges/ui/window.py
Due: none

gamepad: Implement directional nav of sidebar
  cartridges/gamepads.py
Due: none

gamepad: Close detail on back button pressed
  cartridges/gamepads.py
Due: none

gamepad: Activate focused item on sidebar
  cartridges/gamepads.py
Due: none

gamepad: Go to sidebar when going left of headerbar
  cartridges/gamepads.py
Due: none

gamepad: Select collection on activate btn pressed
  cartridges/gamepads.py
  cartridges/ui/window.py
Due: none

gamepad: Clean up MR
  cartridges/gamepads.py
  cartridges/ui/window.py
Due: none

game_item: Readd position property
  cartridges/ui/game_item.py
  cartridges/ui/window.blp
Due: blueprint-format

gamepad: Cleanup MR
  cartridges/gamepads.py
Due: none

gamepad: Implement return button action for sidebar
  cartridges/gamepads.py
  cartridges/ui/window.blp
  cartridges/ui/window.py
Due: blueprint-format

sources: Shift model to the bottom of the file
  cartridges/sources/__init__.py
Due: none

game-details: Accept any Gdk.Paintable
  cartridges/ui/game-details.blp
  cartridges/ui/game_details.py
Due: blueprint-format

cartridges: Avoid using custom constructors
  cartridges/__init__.py
  cartridges/collections.py
  cartridges/gamepads.py
  cartridges/ui/collection_details.py
  cartridges/ui/collections.py
  cartridges/ui/cover.py
  cartridges/ui/game_details.py
  cartridges/ui/game_item.py
  cartridges/ui/games.py
  cartridges/ui/sources.py
  cartridges/ui/window.py
Due: none

cartridges: Add __gtype_name__ to all classes
  cartridges/application.py
  cartridges/gamepads.py
  cartridges/ui/collections.py
  cartridges/ui/sources.py
Due: none

collection-details: Move some logic to collection setter
  cartridges/ui/collection_details.py
  cartridges/ui/collections.py
Due: none

cartridges: Make init parameters optional when possible
  cartridges/gamepads.py
  cartridges/ui/collections.py
  cartridges/ui/sources.py
Due: none

Added translation using Weblate (Kazakh)
  po/kk.po
Due: none

Update translation files
  po/LINGUAS
Due: none

Translated using Weblate (Kazakh)
  po/kk.po
Due: none

waydroid: Add waydroid symbolic icon
  data/icons/icons.gresource.xml.in
  data/icons/waydroid-symbolic.svg
Due: svgo

waydroid: Add waydroid source
  cartridges/sources/waydroid.py
Due: none

desktop: Merge Flatpak and Desktop sources
  cartridges/games.py
  cartridges/sources/__init__.py
  cartridges/sources/desktop.py
  cartridges/sources/flatpak.py
  data/icons/flatpak-symbolic.svg
  data/icons/icons.gresource.xml.in
Due: svgo

desktop: Add Desktop Entries source
  cartridges/games.py
  cartridges/sources/__init__.py
  cartridges/sources/desktop.py
  cartridges/sources/flatpak.py
  data/icons/desktop-symbolic.svg
  data/icons/icons.gresource.xml.in
  po/POTFILES.in
Due: svgo

sources: Remove HOST_* variables
  cartridges/sources/__init__.py
  cartridges/sources/flatpak.py
  cartridges/sources/heroic.py
  cartridges/sources/itch.py
Due: none
